<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hostName"  value="http://hostname.com/v1/" />
		<add key="userName"  value="testuser" />
		<add key="passWord"  value="testaccont" />
		<add key="productId"  value="2" />
		<add key="market"  value="us" />
		<add key="langCode"  value="en"/>
		<add key="numLaunchTokens" value="1"/>
		<add key="moduleId" value="mod123"/>
		<add key="serverId" value="si123"/>
	</appSettings>
</configuration>